bootloader-stm32-f0/Release/*
bootloader-stm32-f0/Debug/*
.metadata/*
*.o
*.su
*.bin
*.elf
*.list
*.map
*.d
*.mk
*.launch

bootloader-stm32-f0/.settings/*
*.xml
*.prefs
bootloader-stm32-f0/.vs/*
bootloader-stm32-f0/.vscode/*
bootloader-stm32-f0/CMakeLists.txt
bootloader-stm32-f0/CMakePresets.json
bootloader-stm32-f0/build/
bootloader-stm32-f0/cmake/
bootloader-stm32-f0/vcpkg-configuration.json

