userapp-stm32-f0/Release/*
userapp-stm32-f0/Debug/*
.metadata/*
*.o
*.su
*.bin
*.elf
*.list
*.map
*.d
*.mk
*.launch

userapp-stm32-f0/.settings/*
*.xml
*.prefs
userapp-stm32-f0/.vs/*
userapp-stm32-f0/.vscode/*
userapp-stm32-f0/CMakeLists.txt
userapp-stm32-f0/CMakePresets.json
userapp-stm32-f0/build/
userapp-stm32-f0/cmake/
userapp-stm32-f0/vcpkg-configuration.json

