userapp-stm32-f0_02/Release/*
userapp-stm32-f0_02/Debug/*
.metadata/*
*.o
*.su
*.bin
*.elf
*.list
*.map
*.d
*.mk
*.launch

userapp-stm32-f0_02/.settings/*
*.xml
*.prefs
userapp-stm32-f0_02/.vs/*
userapp-stm32-f0_02/.vscode/*
userapp-stm32-f0_02/CMakeLists.txt
userapp-stm32-f0_02/CMakePresets.json
userapp-stm32-f0_02/build/
userapp-stm32-f0_02/cmake/
userapp-stm32-f0_02/vcpkg-configuration.json

